<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <!-- Boolean flag to indicate whether or not sample data should be generated for the collection first. -->
    <add key="GenerateSampleData" value="true"/>

    <!-- 1. Monitored Data specifics -->
    <add key="AccountEndpoint" value=""/>
    <add key="AccountKey" value=""/>
    <add key="DatabaseName" value=""/>
    <add key="CollectionName" value=""/>
    <add key="CollectionPartitionKey" value="/id"/>
    <add key="CollectionThroughput" value="5000"/>
    <add key="NumUpdatesForTesting" value="15"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
